$main-green-color: #45c4b0;
$main-blue-color: #13678a;
$main-red-color: #e63946;

.main-blue {
    color: $main-blue-color;
}

.main-green {
    color: $main-green-color;
}

.main-green-background-color {
    background-color: $main-green-color;
}

.main-blue-background-color {
    background-color: $main-blue-color;
}