@import './colors.scss';

#toasts-container {

    $color-success: rgb(165, 221, 167);
    $color-error: rgb(240, 192, 189);
    $color-warning: rgb(242, 207, 154);
    $color-info: rgb(141, 193, 234);

    position: fixed;
    top: 20px;
    right: 20px;
    width: 350px;
    height: fit-content;
    z-index: 1;
    border-radius: 20px;
    box-sizing: border-box;
    row-gap: 10px;

    .toast {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out;
        text-align: center;

        &.show {
            opacity: 1;
        }

        &.show.hide {
            .cross {
                pointer-events: none;
            }
            opacity: 0;
        }
        padding: 30px;
        border-radius: 20px;
        width: 250px;
        position: relative;
        &.success {
            background-color: $color-success;
        }
        &.error {
            background-color: $color-error;
        }
        &.warning {
            background-color: $color-warning;
        }
        &.info {
            background-color: $color-info;
        }

        .cross {
            pointer-events: all;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: aliceblue;
            transition: background-color 0.2s ease-in-out;
            top: 8px;
            right: 8px;
            cursor: pointer;

            &:hover {
                background-color: rgba(243, 243, 243, 0.8);
            }
        }
    }
}