@import '../colors.scss';

.input-text {
    width: auto;
    height: 12px;
    border: none;
    border-radius: 15px;
    color: $main-green-color;
    font-size: 28px;
    padding: 0 20px !important;
    height: 50px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-weight: 400;
    }

}


.main-container-page .create-container * {
    text-transform: none;
}