@import './colors.scss';

#toasts-container {

    position: fixed;
    top: 20px;
    right: 20px;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    border-radius: 20px;
    box-sizing: border-box;
    row-gap: 10px;

    .toast {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 25px;
        border-radius: 20px;
        width: 300px;
        position: relative;

        .icon-container {
            .icon {
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.show {
            opacity: 1;
        }
        
        &.show.hide {
            .cross {
                pointer-events: none;
            }
            opacity: 0;
        }

        &.success {
            background-color: $toast-color-success;
            .icon {
                background-image: url('../img/success.png');
            }
        }
        &.error {
            background-color: $toast-color-error;
            .icon {
                background-image: url('../img/error.png');
            }
        }
        &.warning {
            background-color: $toast-color-warning;
            .icon {
                transform: rotate(180deg);
                background-image: url('../img/info-warning.png');
            }
        }
        &.info {
            background-color: $toast-color-info;
            .icon {
                background-image: url('../img/info-warning.png');
            }
        }

        .cross {
            pointer-events: all;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: aliceblue;
            transition: background-color 0.2s ease-in-out;
            top: 8px;
            right: 8px;
            cursor: pointer;

            &:hover {
                background-color: rgba(243, 243, 243, 0.8);
            }
        }
    }
}